:root {
	/* Colors. */
	--robroy-black: #000;
	--robroy-white: #fff;

	/* Arrows. */
	--robroy-arrow-color: var(--robroy-white);
	--robroy-arrow-size: 10px;

	/* Buttons. */
	--robroy-button-background-color: transparent;

	/* Captions. */
	--robroy-caption-color: var(--robroy-white);
	--robroy-caption-font-size: 16px;
	--robroy-caption-line-height: 1.4;
	--robroy-caption-margin-top: 4px;
	--robroy-caption-min-width: 300px;

	/* Close. */
	--robroy-close-color: var(--robroy-white);
	--robroy-close-content: '\00d7'; /* &times; */
	--robroy-close-font-family: serif;
	--robroy-close-font-size: 32px;
	--robroy-close-font-weight: bold;

	/* Fades. */
	--robroy-fade-in-duration: 300ms;
	--robroy-fade-out-duration: 300ms;

	/* Full screen. */
	--robroy-full-screen-size: 20px;
	--robroy-full-screen-color: var(--robroy-white);

	/* Icons. */
	--robroy-icon-size: 44px;

	/* Loading. */
	--robroy-loading-color: var(--robroy-white);
	--robroy-loading-duration: 2s;
	--robroy-loading-size: 32px;
	--robroy-loading-width: 6px;

	/* Numbers. */
	--robroy-number-color: var(--robroy-white);
	--robroy-number-padding: 4px;

	/* Overlays. */
	--robroy-overlay-background: hsl(from var(--robroy-black) h s l / 90%);

	/* Z-indexes. */
	--robroy-figure-zindex: 9998;
	--robroy-number-zindex: 9998;
	--robroy-zindex: 9997;
	--robroy-loading-zindex: 9995;
}
