$focus: 0 0 0 4px turquoise;
$skip-width: 250px;
$button-size: 44px;

body {
	background: #fff;
	color: #000;
	font-family: sans-serif;
	margin: 0 auto;
	max-width: 800px;
	padding: 1rem;
}

body::backdrop {
	background: #fff;
}

#nav {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin: 1rem 0 0;
	padding: 0;

	li {
		margin-right: 1rem;
	}
}

.active a {
	color: #000;
	text-decoration: none;
}

figure {
	margin: 0;
}

a {
	color: #00f;
}

a:hover,
a:active,
a:focus {
	text-decoration: none;
}

a[data-robroy] {
	display: inline-block;
}

a[data-robroy] figcaption {
	font-size: 1rem;
}

img {
	display: block;
}

:focus {
	box-shadow: $focus;
	outline: none !important; // stylelint-disable-line declaration-no-important
}

.robroy__caption a {
	color: #fff;
}

figcaption {
	margin-top: .25rem;
}

figcaption > :first-child {
	margin-top: 0;
}

h1 {
	margin: 0;
}

h2,
h3 {
	margin: 2rem 0 .25rem;
}

h2 + h3 {
	margin-top: .5rem;
}

p {
	margin: 1rem 0 0;
}

button {
	background: #ccc;
	border-color:
		scale-color(#ccc, $lightness: 25%)
		scale-color(#ccc, $lightness: -25%)
		scale-color(#ccc, $lightness: -25%)
		scale-color(#ccc, $lightness: 25%);
	border-style: solid;
	border-width: 2px 3px 3px 2px;
	color: #000;
	cursor: pointer;
	font-family: sans-serif;
	font-size: 1rem;
	padding: .5rem;
}

.code {
	background: #111;
	border: 1px solid #000;
	color: #fff;
	display: block;
	margin: .25rem 0 0;
	padding: 1rem;

	p + & {
		margin-top: 1rem;
	}
}

#dynamic-container {
	font-size: 0;
}

.code__element {
	color: deeppink;
}

.code__attribute {
	color: greenyellow;
}

.code__value {
	color: khaki;
}

.code__comment {
	color: gray;

	span {
		color: inherit;
	}
}

.code__etc {
	color: mediumpurple;
}

.code__etc2 {
	color: deepskyblue;
}

#skip {
	background: #ccc;
	border: 0;
	border-radius: 0;
	color: #000;
	font-size: 20px;
	font-weight: bold;
	height: $button-size;
	left: 50%;
	line-height: $button-size;
	margin-left: #{$skip-width * -.5};
	opacity: 0;
	padding: 0;
	position: absolute;
	text-align: center;
	text-decoration: none;
	top: -$button-size;
	width: $skip-width;
	z-index: 999;

	&:active,
	&:focus {
		box-shadow: 0 0 10px 5px rgba(#000, .2), $focus;
		opacity: 1;
		top: 0;
	}
}
