@import 'variables';

.robroy-open {
	overflow: hidden;
}

.robroy {
	align-items: center;
	background: transparent;
	border: 0;
	bottom: 0;
	display: flex;
	justify-content: center;
	left: 0;
	padding: 0;
	position: fixed;
	right: 0;
	top: 0;
	z-index: $robroy-zindex;

	&::backdrop {
		background: transparent;
	}
}

.robroy-fade-in {
	animation: robroy-fade-in $robroy-fade-in-duration forwards ease-in-out;
	opacity: 0;

	@media (prefers-reduced-motion) {
		animation: none;
		opacity: 1;
	}
}

@keyframes robroy-fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.robroy-fade-out {
	animation: robroy-fade-out $robroy-fade-out-duration forwards ease-in-out;
	opacity: 1;

	@media (prefers-reduced-motion) {
		animation: none;
	}
}

@keyframes robroy-fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.robroy__figure {
	margin: 0;
	position: relative;
	z-index: $robroy-figure-zindex;
}

.robroy__overlay {
	background-color: $robroy-overlay-background;
	bottom: 0;
	cursor: pointer;
	left: 0;
	position: fixed;
	right: 0;
	top: 0;
}

.robroy__img {
	cursor: pointer;
	display: block;
	margin: 0 auto;
}

.robroy__caption {
	color: $robroy-caption-color;
	font-size: $robroy-caption-font-size;
	line-height: $robroy-caption-line-height;
	margin-top: $robroy-caption-margin-top;
	min-width: $robroy-caption-min-width;
}

.robroy__number {
	bottom: 0;
	color: $robroy-number-color;
	padding: $robroy-number-padding;
	position: fixed;
	right: 0;
	z-index: $robroy-number-zindex;
}

.robroy__button {
	background: $robroy-button-background-color;
	border-radius: 0;
	border-width: 0;
	cursor: pointer;
	font-size: 0;
	height: $robroy-icon-size;
	line-height: 1;
	margin: 0;
	padding: 0;
	position: absolute;
	width: $robroy-icon-size;

	&:hover,
	&:active,
	&:focus {
		background: $robroy-button-background-color;
	}
}

.robroy__button--close {
	position: fixed;
	right: 0;
	top: 0;

	&::after {
		color: $robroy-close-color;
		content: $robroy-close-content;
		display: block;
		font-family: $robroy-close-font-family;
		font-size: $robroy-close-font-size;
		font-weight: $robroy-close-font-weight;
	}
}

.robroy__button--full-screen {
	position: fixed;
	right: $robroy-icon-size;
	top: 0;

	&::before {
		background-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg"><path fill="rgba(#{red($robroy-full-screen-color)},#{green($robroy-full-screen-color)},#{blue($robroy-full-screen-color)},#{alpha($robroy-full-screen-color)})" d="M0 0v20h10V10h10V0H0zM30 0v10h10v10h10V0H30zM0 50h20V40H10V30H0v10zM50 50H30V40h10V30h10v10z"/></svg>');
		background-repeat: no-repeat;
		content: '';
		display: block;
		height: $robroy-full-screen-size;
		margin-right: #{$robroy-full-screen-size * -.5};
		margin-top: #{$robroy-full-screen-size * -.5};
		position: absolute;
		right: 50%;
		top: 50%;
		width: $robroy-full-screen-size;
	}
}

.robroy__button--nav {
	margin-top: #{$robroy-icon-size * -.5};
	position: fixed;
	top: 50%;

	&::after {
		border-style: solid;
		border-width: $robroy-arrow-size;
		content: '';
		display: flex;
		left: #{($robroy-icon-size - ($robroy-arrow-size * 2)) * .5};
		position: absolute;
		top: #{($robroy-icon-size - ($robroy-arrow-size * 2)) * .5};
	}
}

.robroy__button--prev {
	left: 0;

	&::after {
		border-color: transparent $robroy-arrow-color transparent transparent;
		margin-left: #{$robroy-arrow-size * -.5};
	}
}

.robroy__button--next {
	right: 0;

	&::after {
		border-color: transparent transparent transparent $robroy-arrow-color;
		margin-left: #{$robroy-arrow-size * .5};
	}
}

.robroy--loading {
	&::after {
		animation: robroy-spin $robroy-loading-duration infinite linear;
		border-color: $robroy-loading-color $robroy-loading-color $robroy-loading-color transparent;
		border-radius: 100px;
		border-style: solid;
		border-width: $robroy-loading-width;
		content: '';
		display: block;
		height: $robroy-loading-size;
		margin-right: #{$robroy-loading-size * -.5};
		margin-top: #{$robroy-loading-size * -.5};
		position: absolute;
		right: 50%;
		top: 50%;
		width: $robroy-loading-size;
		z-index: $robroy-loading-zindex;
	}

	.robroy__button,
	.robroy__img,
	.robroy__caption {
		visibility: hidden;
	}
}

@keyframes robroy-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}
