@use 'variables';

.robroy-open {
	overflow: hidden;
}

.robroy {
	align-items: center;
	background: transparent;
	border: 0;
	display: flex;
	inset: 0;
	justify-content: center;
	padding: 0;
	position: fixed;
	z-index: var(--robroy-zindex);

	&::backdrop {
		background: transparent;
	}
}

.robroy-fade-in {
	animation: robroy-fade-in var(--robroy-fade-in-duration) forwards ease-in-out;
	opacity: 0;

	@media (prefers-reduced-motion) {
		animation: none;
		opacity: 1;
	}
}

@keyframes robroy-fade-in {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

.robroy-fade-out {
	animation: robroy-fade-out var(--robroy-fade-out-duration) forwards ease-in-out;
	opacity: 1;

	@media (prefers-reduced-motion) {
		animation: none;
	}
}

@keyframes robroy-fade-out {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.robroy__figure {
	margin: 0;
	position: relative;
	z-index: var(--robroy-figure-zindex);
}

.robroy__overlay {
	background-color: var(--robroy-overlay-background);
	cursor: pointer;
	inset: 0;
	position: fixed;
}

.robroy__img {
	cursor: pointer;
	display: block;
	margin: 0 auto;
}

.robroy__caption {
	color: var(--robroy-caption-color);
	font-size: var(--robroy-caption-font-size);
	line-height: var(--robroy-caption-line-height);
	margin-top: var(--robroy-caption-margin-top);
	min-width: var(--robroy-caption-min-width);
}

.robroy__number {
	bottom: 0;
	color: var(--robroy-number-color);
	padding: var(--robroy-number-padding);
	position: fixed;
	right: 0;
	z-index: var(--robroy-number-zindex);
}

.robroy__button {
	background: var(--robroy-button-background-color);
	border-radius: 0;
	border-width: 0;
	cursor: pointer;
	font-size: 0;
	height: var(--robroy-icon-size);
	line-height: 1;
	margin: 0;
	padding: 0;
	position: absolute;
	width: var(--robroy-icon-size);

	&:hover,
	&:active,
	&:focus {
		background: var(--robroy-button-background-color);
	}
}

.robroy__button--close {
	position: fixed;
	right: 0;
	top: 0;

	&::after {
		color: var(--robroy-close-color);
		content: var(--robroy-close-content);
		display: block;
		font-family: var(--robroy-close-font-family);
		font-size: var(--robroy-close-font-size);
		font-weight: var(--robroy-close-font-weight);
	}
}

.robroy__button--full-screen {
	position: fixed;
	right: var(--robroy-icon-size);
	top: 0;

	&::before {
		background: var(--robroy-full-screen-color);
		content: '';
		display: block;
		height: var(--robroy-full-screen-size);
		margin-right: calc(var(--robroy-full-screen-size) * -.5);
		margin-top: calc(var(--robroy-full-screen-size) * -.5);
		mask-image: url('data:image/svg+xml;utf8,<svg viewBox="0 0 50 50" xmlns="http://www.w3.org/2000/svg"><path fill="currentColor" d="M0 0v20h10V10h10V0H0zM30 0v10h10v10h10V0H30zM0 50h20V40H10V30H0v10zM50 50H30V40h10V30h10v10z"/></svg>');
		mask-repeat: no-repeat;
		position: absolute;
		right: 50%;
		top: 50%;
		width: var(--robroy-full-screen-size);
	}
}

.robroy__button--nav {
	margin-top: calc(var(--robroy-icon-size) * -.5);
	position: fixed;
	top: 50%;

	&::after {
		border-style: solid;
		border-width: var(--robroy-arrow-size);
		content: '';
		display: flex;
		left: calc((var(--robroy-icon-size) - (var(--robroy-arrow-size) * 2)) * .5);
		position: absolute;
		top: calc((var(--robroy-icon-size) - (var(--robroy-arrow-size) * 2)) * .5);
	}
}

.robroy__button--prev {
	left: 0;

	&::after {
		border-color: transparent var(--robroy-arrow-color) transparent transparent;
		margin-left: calc(var(--robroy-arrow-size) * -.5);
	}
}

.robroy__button--next {
	right: 0;

	&::after {
		border-color: transparent transparent transparent var(--robroy-arrow-color);
		margin-left: calc(var(--robroy-arrow-size) * .5);
	}
}

.robroy--loading {
	&::after {
		animation: robroy-spin var(--robroy-loading-duration) infinite linear;
		border-color: var(--robroy-loading-color) var(--robroy-loading-color) var(--robroy-loading-color) transparent;
		border-radius: 100px;
		border-style: solid;
		border-width: var(--robroy-loading-width);
		content: '';
		display: block;
		height: var(--robroy-loading-size);
		margin-right: calc(var(--robroy-loading-size) * -.5);
		margin-top: calc(var(--robroy-loading-size) * -.5);
		position: absolute;
		right: 50%;
		top: 50%;
		width: var(--robroy-loading-size);
		z-index: var(--robroy-loading-zindex);
	}

	.robroy__button,
	.robroy__img,
	.robroy__caption {
		visibility: hidden;
	}
}

.robroy-hide {
	display: none;
}

@keyframes robroy-spin {
	0% {
		transform: rotate(0deg);
	}

	100% {
		transform: rotate(359deg);
	}
}
