{{#> ../partials/layout title='Installation'}}
<h2>Installation</h2>

<p>Warning: This package is still a work-in-progress. Use at your own risk.</p>

<p>Install with npm:</p>

{{{code 'npm install --save https://github.com/jlbelanger/robroy' 'sh'}}}

<p>Or install with yarn:</p>

{{{code 'yarn add https://github.com/jlbelanger/robroy' 'sh'}}}

{{/../partials/layout}}
